
@{
    ViewBag.Title = "LoggedIn";
}


<p>
    @Html.ActionLink("Create New Safety Report", "Create")
    <br />
    @Html.ActionLink("View all Reports", "Index")<br />
    @Html.ActionLink("View Reports status", "Index", "Reports")


</p>

